<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Users Page</title>
  </head>
  <body>
    <h1>Here is a List of all the Users in our Database</h1>

    {% if access_users %}
    <ol>
      {% for user in access_users %}
        <li>User Info</li>
      <ul>
        <li>First Name: {{ user.first_name }}</li>
        <li>Last Name: {{ user.last_name }}</li>
        <li>Email: {{ user.email }}</li>
      </ul>

      {% endfor %}

    </ol>

    {% else %}
    <p>No Users found!</p>

    {% endif %}

  </body>
</html>
